.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .magic-8-ball {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #FFFFFF;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  }
  
  .coffee-cup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #A0522D;
  }
  
  .coffee {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #8B4513;
  }
  
  .answer {
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 80px;
    font-family: cloudFont;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
  
  button {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #A0522D;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  body {
    background-color: #F5E5C7; /* light brown */
    font-family: Arial, sans-serif;
  }
  
  form {
    background-color: #D4A190; /* darker brown */
    border-radius: 10px;
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
  }
  
  label {
    display: block;
    font-size: 24px;
    font-weight: bold;
    color: #583A35; /* dark red */
    margin-bottom: 10px;
  }
  
  select {
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 100%;
    margin-bottom: 20px;
  }
  
  option {
    font-size: 18px;
  }
  
  input[type=submit] {
    background-color: #583A35; /* dark red */
    color: #FFFFFF; /* white */
    border: none;
    border-radius: 5px;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #7E4A46; /* lighter red */
  }
  
  @font-face{
    font-family: cloudFont;
    src: url(Alphasmoke-OOX6.ttf);
  }